<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Animal Adoption Catalog</h1>
<div class="sort_line">
  <%= link_to 'Sort by Name', controller: "animals", method: :index, :sort => 'name' %>
  <%= link_to 'Sort by Breed', controller: "animals", method: :index, :sort => 'breed'%>
</div>
<% cache ['adoption', Animal.latest] do %>
  <% @animals.each do |animal| %>
    <% if animal.status == "Available" %>
      <% cache ['entry', animal] do %>
        <div class="entry">
          <%= image_tag(animal.image_url) %>
          <h3><%= animal.name %></h3>
          <p><%= sanitize(animal.habits) %></p>
          <div class="info_line">
            <span class="breed">Breed: <%= animal.breed %></span>
            <span class="gender">Gender: <%= animal.gender %></span>
            <span class="age">Age: <%= animal.age %></span>
            <span id="consider"><%= button_to 'Consider Me', line_items_path(animal_id: animal), remote: true %></span>
            <%= button_to 'Select Me', fosters_path(animal_id: animal)%>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>