<h1>Pokédex</h1>

<table>
  <% @pokemons.each do |pokemon| %>
    <tr>
      <td>
        <%= image_tag(pokemon.image_url, class: 'list_image') %>
      </td>
      <td class="list_description">
        <p class="name" id="<%= pokemon.type_one %>"><%= pokemon.name %></p>
      </td>
	  <td>
	    <% if pokemon.type_two %>
		  <p>Type: <%= pokemon.type_one %>/<%= pokemon.type_two %></p>
		<% else %>
		  <p>Type: <%= pokemon.type_one %><p>
		<% end %>
	  </td>
	  <td>
	    <p>Pokédex: <%= pokemon.pokedex %></p>
	  </td>
      <td class="list_actions">
        <%= link_to 'Show', pokemon %><br/>
        <%= link_to 'Edit', edit_pokemon_path(pokemon) %><br/>
        <%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
<br />

<%= link_to 'New Pokémon', new_pokemon_path %>