<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Type one:</strong>
  <%= @pokemon.type_one %>
</p>

<p>
  <strong>Type two:</strong>
  <%= @pokemon.type_two %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @pokemon.image_url %>
</p>

<p>
  <strong>Pokedex:</strong>
  <%= @pokemon.pokedex %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
