<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Trainer Catalog</h1>

<% cache ['catalog', Trainer.latest] do %>
  <% @trainers.each do |trainer| %>
    <% if trainer.id != current_trainer.id %>
      <% cache ['entry', trainer] do %>
        <div class="entry">
		  <table>
		    <tr>
			  <td>
                <%= image_tag(trainer.avatar) %><br />
				<%= trainer.email %>
			  </td>
			  <td>
			    <table>
			      <% TrainerPokemon.where(trainer_id: trainer.id).each do |trainerpokemon| %>
                  <% pokemon = Pokemon.find(trainerpokemon.pokemon_id) %>
                    <tr>
                      <td>
                        <%= image_tag(pokemon.image_url, class: 'list_image') %>
                      </td>
                      <td class="list_description">
                        <p class="name" id="<%= pokemon.type_one %>"><%= pokemon.name %></p>
                      </td>
	                  <td>
	                    <% if pokemon.type_two %>
		                  <p>Type: <%= pokemon.type_one %>/<%= pokemon.type_two %></p>
		                <% else %>
		                  <p>Type: <%= pokemon.type_one %><p>
		                <% end %>
	                  </td>
	                  <td>
	                    <p>Pokédex: <%= pokemon.pokedex %></p>
	                  </td>
                      <td class="list_actions">
                        <%= button_to 'Trade', fosters_path(animal_id: animal)%>
                      </td>
                    </tr>
                  <% end %>
                </table>
			  </td>
			</tr>
		  </table>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
