<div class="pokemon_list">
  <h1><%= current_trainer.email %></h1>
  <table>
	<tr>
	  <td>
        <%= image_tag(current_trainer.avatar, class: 'trainer_image') %><br />
	  </td>
	  <td>
		<table class="pokemon_table">
		  <% TrainerPokemon.where(trainer_id: current_trainer.id).each do |trainerpokemon| %>
            <% pokemon = Pokemon.find(trainerpokemon.pokemon_id) %>
            <tr>
              <td>
                <%= image_tag(pokemon.image_url, class: 'list_image') %>
              </td>
              <td class="list_description">
                <p class="name" id="<%= pokemon.type_one %>"><%= pokemon.name %></p>
              </td>
	          <td>
	            <% if pokemon.type_two %>
		          <p>Type: <%= pokemon.type_one %>/<%= pokemon.type_two %></p>
		        <% else %>
		          <p>Type: <%= pokemon.type_one %><p>
		        <% end %>
	          </td>
	          <td>
	            <p>Pokédex: <%= pokemon.pokedex %></p>
	          </td>
            </tr>
          <% end %>
        </table>
	  </td>
	</tr>
  </table>
</div>

<div class="request_list">
  <h1>Trade Requests</h1>
  <table class="requests_table">
    <tr>
	  <td>
        <table class="sent_table">
		  <caption><h3>Sent Requests</h3></caption>
		  <tr>
			<td><h4>Their Pokémon</h4></td>
			<td><h4>Your Pokémon</h4></td>
			<td><h4>Options</h4></td>
		  </tr>
		  <% current_trainer.sent_trades.each do |trade_request| %>
		    <tr>
			  <td>
		        <% trade_request.trainer_pokemons.each do |trainer_pokemon| %>
			      <% if trainer_pokemon.trainer_id != current_trainer.id %>
					<%= image_tag(Pokemon.find(trainer_pokemon.pokemon_id).image_url, class: 'list_image') %>
			      <% end %>
			    <% end %>
			  </td>
			  <td>
		        <% trade_request.trainer_pokemons.each do |trainer_pokemon| %>
			      <% if trainer_pokemon.trainer_id == current_trainer.id %>
					<%= image_tag(Pokemon.find(trainer_pokemon.pokemon_id).image_url, class: 'list_image') %>
			      <% end %>
			    <% end %>
			  </td>
			  <td>
				<%= button_to 'Cancel', trade_request, method: :delete, data: { confirm: 'Are you sure?' } %>
			  </td>
			</tr>
		  <% end %>
        </table>
	  </td>
	</tr>
    <tr>
	  <td>
        <table class="received_table">
		  <caption><h3>Received Requests</h3></caption>
		  <tr>
			<td><h4>Their Pokémon</h4></td>
			<td><h4>Your Pokémon</h4></td>
			<td><h4>Options</h4></td>
		  </tr>
		  <% current_trainer.received_trades.each do |trade_request| %>
		    <tr>
			  <td>
		        <% trade_request.trainer_pokemons.each do |trainer_pokemon| %>
			      <% if trainer_pokemon.trainer_id != current_trainer.id %>
					<%= image_tag(Pokemon.find(trainer_pokemon.pokemon_id).image_url, class: 'list_image') %>
			      <% end %>
			    <% end %>
			  </td>
			  <td>
		        <% trade_request.trainer_pokemons.each do |trainer_pokemon| %>
			      <% if trainer_pokemon.trainer_id == current_trainer.id %>
					<%= image_tag(Pokemon.find(trainer_pokemon.pokemon_id).image_url, class: 'list_image') %>
			      <% end %>
			    <% end %>
			  </td>
			  <td>
				<%= button_to 'Accept', accept_trade_trade_request_path(:id => trade_request.id), data: { confirm: 'Are you sure?' } %>
				<%= button_to 'Reject', trade_request, method: :delete, data: { confirm: 'Are you sure?' } %>
			  </td>
			</tr>
		  <% end %>
        </table>
	  </td>
	</tr>
  </table>
</div>

<div class="completed_list">
  <h1>Trade History</h1>
  <table class="completed_table">
	<tr>
	  <td><h4>Their Pokémon</h4></td>
	  <td><h4>Your Pokémon</h4></td>
	</tr>
	<% current_trainer.sent_completes.each do |trade_complete| %>
    <tr>
	  <td>
		<% trade_complete.pokemon_trainers.each do |pokemon_trainer| %>
		  <% if pokemon_trainer.trainer_id != current_trainer.id %>
			<%= image_tag(Pokemon.find(pokemon_trainer.pokemon_id).image_url, class: 'list_image') %>
		  <% end %>
	    <% end %>
	  </td>
	  <td>
	    <% trade_complete.pokemon_trainers.each do |pokemon_trainer| %>
		  <% if pokemon_trainer.trainer_id == current_trainer.id %>
		    <%= image_tag(Pokemon.find(pokemon_trainer.pokemon_id).image_url, class: 'list_image') %>
		  <% end %>
	    <% end %>
	  </td>
	</tr>
    <% end %>
	<% current_trainer.received_completes.each do |trade_complete| %>
	<tr>
	  <td>
		<% trade_complete.pokemon_trainers.each do |pokemon_trainer| %>
		  <% if pokemon_trainer.trainer_id != current_trainer.id %>
			<%= image_tag(Pokemon.find(pokemon_trainer.pokemon_id).image_url, class: 'list_image') %>
		  <% end %>
		<% end %>
	  </td>
	  <td>
		<% trade_complete.pokemon_trainers.each do |pokemon_trainer| %>
		  <% if pokemon_trainer.trainer_id == current_trainer.id %>
			<%= image_tag(Pokemon.find(pokemon_trainer.pokemon_id).image_url, class: 'list_image') %>
		  <% end %>
	    <% end %>
	  </td>
	</tr>
	<% end %>
  </table>
</div>