<h1>Trainer Catalog</h1>

  <% Trainer.all.each do |trainer| %>
    <% if trainer.id != current_trainer.id %>
      <% cache ['entry', trainer] do %>
        <div class="entry">
		  <table>
		    <tr>
			  <td>
                <%= image_tag(trainer.avatar, class: 'trainer_image') %><br />
				<%= trainer.email %>
			  </td>
			  <td>
			    <table class="pokemon_table">
			      <% TrainerPokemon.where(trainer_id: trainer.id).each do |trainerpokemon| %>
                  <% pokemon = Pokemon.find(trainerpokemon.pokemon_id) %>
                    <tr>
                      <td>
                        <%= image_tag(pokemon.image_url, class: 'list_image') %>
                      </td>
                      <td class="list_description">
                        <p class="name" id="<%= pokemon.type_one %>"><%= pokemon.name %></p>
                      </td>
	                  <td>
	                    <% if pokemon.type_two %>
		                  <p>Type: <%= pokemon.type_one %>/<%= pokemon.type_two %></p>
		                <% else %>
		                  <p>Type: <%= pokemon.type_one %><p>
		                <% end %>
	                  </td>
	                  <td>
	                    <p>Pokédex: <%= pokemon.pokedex %></p>
	                  </td>
					  <td>
					    <%= link_to 'Trade', trade_index_path(:trainer_id => trainer.id, :pokemon_id => pokemon.id) %>
					  </td>
                    </tr>
                  <% end %>
                </table>
			  </td>
			</tr>
		  </table>
        </div>
      <% end %>
    <% end %>
  <% end %>
